@using AjaxCsharp.Models;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Dashboard</title>
</head>

<body>
    <div class="dashboardHeader_container">
        <h1>Welcome @ViewBag.DisplayUser.FirstName, to Wedding planner</h1>
        <a href="/logout"> logout</a>
    </div>




    </tbody>
    </table>

    <a href="/goToPlanWedding"><button>New Wedding</button></a>

</body>

</html>