body{
    max-width: 65em;
    margin: 0 auto;
    background: whitesmoke;
    font: 1em sans-serif;
}


form{
    display: grid;
    row-gap: 5px;
    background: white;
    padding: 20px;
    max-width: 400px;
}

.regHeader_container{
    display: grid;
    grid-template-columns: 1fr  1fr ;
    column-gap: 20px;
    align-items: center;
    align-items: flex-start;
}

.dashboardHeader_container{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;
    justify-items: flex-end;
}

table{
    min-width: 100%;
    font: 1.3em sans-serif;
    background: white;
    padding: 40px;
}

thead{
    text-align:  left;
    border-bottom: 2px solid black;
    margin-bottom: 5px;
}

.formHeader_container{
    display: grid;
    grid-template-columns: 4fr 1fr 1fr ;
    align-items: center;
}

ul{
    padding: 0;
}

li{
    padding: 0;
    max-width: 27em;
    display: grid;
    grid-template-columns: 1fr repeat(2, 50px);
    align-items: center;
}

.form-postContainer{
    position: sticky;
    top: 0;
}

.form-postContainer form{
    display: grid;
    grid-template-columns: 1fr 50px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.398);
    margin-bottom: 10px;
}